<manifest
    package="knez.assdroid"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:name=".util.Aplikacija"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SubDroid.Theme" >
        <activity
            android:name=".EditorAktivnost"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ass" />
                <data android:pathPattern=".*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\.ASS" />
                <data android:pathPattern=".*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name="PrevodilacAktivnost"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name=".podesavanja.KategorijePodesavanjaAktivnost"
            android:label="@string/podesavanja_kategorije_naslov" >
        </activity>
        <activity
            android:name=".podesavanja.PodesavanjaGlobalAktivnost"
            android:label="@string/podesavanja_globalna_naslov" >
        </activity>
        <activity
            android:name=".podesavanja.PodesavanjaEditorAktivnost"
            android:label="@string/podesavanja_editor_naslov" >
        </activity>
        <activity
            android:name=".podesavanja.PodesavanjaPrevodilacAktivnost"
            android:label="@string/podesavanja_prevodilac_naslov" >
        </activity>
        <activity
            android:name=".help.KategorijeHelpaAktivnost"
            android:label="@string/help_kategorije_naslov" >
        </activity>
        <activity
            android:name=".help.HelpEditorAkt"
            android:label="@string/help_editor" >
        </activity>
        <activity
            android:name=".help.HelpPrevodilacAkt"
            android:label="@string/help_translator" >
        </activity>
        <activity
            android:name=".help.HelpAboutAkt"
            android:label="@string/help_about" >
        </activity>
    </application>
</manifest>
