<manifest
    package="knez.assdroid"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:name="${appName}"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SubDroid.Theme_Light" >
        <activity
            android:name=".editor.EditorActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- This enables ProcessPhoenix to restart app when needed -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ass" />
                <data android:pathPattern=".*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ass" />
                <data android:pathPattern=".*\\.ASS" />
                <data android:pathPattern=".*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASS" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".translator.TranslatorActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/podesavanja_kategorije_naslov" >
        </activity>
        <activity
            android:name=".help.HelpEditorAkt"
            android:label="@string/help_editor" >
        </activity>
        <activity
            android:name=".help.HelpPrevodilacAkt"
            android:label="@string/help_translator" >
        </activity>
        <activity
            android:name=".help.HelpAboutAkt"
            android:label="@string/help_about" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b8bb2405861a552bb44085774ecc194833070ea9" />

    </application>

</manifest>
